<div class="row">
  <div class="col-md-8">
    {{full-calendar events=calendarEvents startDate=start_date endDate=end_date}}
  </div>
  <div class="col-md-4">
    {{partial 'schedules/partials/schedules'}}
  </div>
</div>
