<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h4>All Users</h4>
    </div>

    <ul class="list-group">
      {{#each}}
        <li class="list-group-item">
          {{link-to name 'user' this}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

