<div class="row">
  <div class="col-md-8">
    <table class="table table-hover table-schedules">
      <thead>
        <tr>
          <th>Date</th>
          <th>Support Hero</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each}}
        <tr>
          <td>{{format-date date 'MMM D, YYYY'}}</td>
          <td>{{link-to user.name 'user.schedules' user}}</td>
          <td class='actions'>
            {{#link-to 'schedule.undoable' this class="btn btn-default btn-sm"}}
              Undoable
            {{/link-to}}
            {{#link-to 'schedule.swap' this class="btn btn-default btn-sm"}}
              Swap Schedule
            {{/link-to}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <!-- <div class='hero&#45;unit'> -->
    <!--   <h1>Today's Support Hero: {{link-to supportHero.user.name 'user' supportHero.user}}</h1> -->
    <!-- </div> -->
    <!-- {{partial 'schedules/partials/schedules'}} -->
  </div>
</div>
