<div class="panel panel-info">
  <div class="panel-heading">
    <h4>All schedule for the month of {{format-date currentMonth 'MMMM YYYY'}}</h4>
  </div>
  {{schedule-table content=content showActions=false}}
</div>

