<ul>
  {{#each}}
    <li>
      {{#link-to 'schedule' this}}{{format-date date 'MMM D, YYYY'}}{{/link-to}}
      -
      {{link-to user.name 'user.schedules' user}}
    </li>
  {{/each}}
</ul>

<ul class='pager'>
  <li><a href='#' {{action 'goToPreviousMonth'}}>Previous Month</a></li>
  <li><a href='#' {{action 'goToNextMonth'}}>Next Month</a></li>
</ul>
