<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-unstyled">
      {{#each}}
      <li>
      {{#link-to 'schedule' this}}{{format-date date 'MMM D, YYYY'}}{{/link-to}}

      <span class="pull-right">{{link-to user.name 'user.schedules' user}}</span>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
